Django==1.11.7
gunicorn==19.7.1
python-nest==3.4.0
python-miio==0.3.2
graphene-django>=2.0.dev
django-apscheduler==0.2.1
djangorestframework==3.7.3
django-rest-auth[with_social]==0.9.2
-e git://github.com/luizribeiro/django-keyvaluestore.git#egg=django-keyvaluestore
